
.carousel {
    position: relative; 
}


.carousel img {
    width: 100%;
    height: auto;
}


.slick-dots {
    list-style: none;
    text-align: center;
    position: a; 
    bottom: 10px; 
    left: 0; 
    right: 0; 
}

.slick-dots li {
    display: inline;
    margin: 0 5px; 
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    background: transparent;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #ff6600; 
}


.slick-next::before {
    content: '\2192'; 
    font-size: 24px; 
    color: #333; 
    position: absolute; 
    top: 0; 
    right: -20px; 
    z-index: 1; 
}

.slick-dots li {
    display: inline;
    margin: 0 5px; 
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    background: transparent;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #ff6600; 
}


.slick-next::before {
    content: '\2192';
    font-size: 24px; 
    color: #333; 
    position: absolute; 
    top: 50%; 
    right: 20px; 
    z-index: 1; 
}




.slick-dots {
    list-style: none;
    text-align: center;
}

.slick-dots li {
    display: inline;
}

.slick-dots li button {
    font-size: 12px; 
    background: #c21919; 
    border: 2px solid #333;
    border-radius: 50%; 
    width: 12px; 
    height: 12px;
    margin: 0 5px; 
}


.slick-dots li.slick-active button {
    background: #ff6600; 
}


.slick-next {
    display: none;
}

@media screen and (max-width: 329px) {
    .menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .menu-icon {
        display: block; /* Exibe o ícone do menu em telas menores */
        cursor: pointer;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #cd0303;
        margin: 3px 5px;
        transition: 0.4s;
    }

    /* Estilos para o ícone do menu aberto */
    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar:nth-child(2) {
        opacity: 0;
    }

    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
  .logo img {
width: 30px; 
margin-top: 5px;
margin-left: 20px;
}
}